{{page-title "Index"}}

<main>
  <div class="container">
    <div class="vh-100 row align-items-center position-relative">
      <div class="col">
        <h1 class="fw-lighter display-1">Tribe</h1>
        <p class="fst-italic fw-light ps-3 fs-4">a collaborative project management framework</p>

        <div id="scroll-hint" class="animate__animated animate__shakeY animate__infinite animate__slowest opacity-25">
          <FaIcon @icon="chevrons-down" @prefix="fa-light" @size="2x"/>
        </div>
      </div>
    </div>
  </div>
</main>
